<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    failOnRisky="true"
    failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../lib/AppInfo</directory>
            <file>../lib/Controller/AssetController.php</file>
            <file>../lib/Controller/PackageController.php</file>
            <file>../lib/Controller/SwController.php</file>
            <file>../lib/Controller/TemplateController.php</file>
            <file>../lib/Controller/ThumbnailController.php</file>
            <file>../lib/Controller/ViewController.php</file>
            <directory>../lib/Preview</directory>
            <directory>../lib/Service</directory>
        </include>
    </source>
</phpunit>
